@tailwind base;
@tailwind components;
@tailwind utilities;

.link-padding {
    @apply font-semibold pl-4 pr-4 text-lg capitalize;
}

.icon-style {
    @apply text-gray-600 text-xl;
}

.box {
    @apply rounded-sm px-1 m-3 flex items-center;
}

.admin-link {
    @apply capitalize py-2 text-md font-semibold hover:bg-gray-300 rounded-lg
}